.signInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 20px
}
.headerSign{
    text-align: center;
    color: white
}

.buttonSign{
    display: flex;
    justify-content: center;
    padding: .5rem 2.4rem;
    background: white;
    color: black;
    border-radius: 2rem;
    font-size: 1rem;
    border-color: white;
    width: 5rem;
    height: 3rem;
    text-align: center;
    margin-top: 10px
    }

.signIn{
    width: 30rem;
    height: 3rem;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    background: white;
    color: black;
    border-color: black;
    border-radius: 2rem;
}

::placeholder{
    color:white;
    font-size: 23px
    }

@media only screen and (max-width: 600px) {
    .signInForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20rem
    }
    ::placeholder{
        font-size: 20px
        }
        .signIn{
            width:20rem;
            height:2rem;
            font-size: 1rem
        }
}