
.card{
   margin: 0.2em;
   position: relative;
   transition: all .2s ease-in-out;
   width: 19rem

}

.card:hover {
    z-index: 2000;
     transform: scale(1.5);
     cursor: pointer;
}

.image{
    width: 19em;
    height: 14em;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    -moz-box-shadow: 0 0 5px 5px #222029;
    -webkit-box-shadow: 0 0 5px 5px#222029;
    box-shadow: 0 0 5px 5px #222029;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer{
    background: rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 19rem;
    top:100px;
    position: absolute;
    font-size: 20px;
    color: white;
    text-align: center;
}

span{
    width: 100%;
    text-align: center
}