.cart-page-like{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-column-gap: 0.5em;
    grid-row-gap: 0.3em;
    margin-top: 10rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.poster-like{
  opacity: 1;
  width: 15rem !important;
  height: auto}

.title-like{
    text-align: center;
    color: #ffffff; 
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    text-align: center;

}


@media only screen and (max-width: 400px) {
  .cart-like{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
  }
}