.header{
    height: 150px;
    width: 100%;
    display: flex;
    position: fixed; 
    top: 0;
    z-index: 1000;
}

.logo{
    height: 150px;
    width: auto;
    display: flex;
    margin-left: 20px    
}
.right-side-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    // margin-right: 1.5rem;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
    gap: 10px
}

.sign-in{
    text-decoration: none;
    color: white;  
    margin-left: 10px; 
}
.sign-in:hover{
    text-decoration: none;
}

.sign-up{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.sign-up:hover{
    text-decoration: none;
}


.joker{
    height: 60px;
    width: auto;
    display: flex;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 20px;
}


.filter{
   color: white;
   text-decoration: none;
   font-size: 30px;
   margin-left: 10px;
}

.filter:hover{
    text-decoration: none;
}


@media only screen and (max-width: 400px) {
   .logo{
       height: 90px;
       margin-left: 5px
   }
   .right-side-nav{
    margin: 0;
    font-size: 20px;
    margin: 10px
   }
   .joker{
       margin-left: 5px
   }
   .filter{
    margin-left: 5px;
    font-size: 20px;
   }
}