.forms{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}

@media only screen and (max-width: 600px) {
    .forms{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center
    }
  }