.cart-page{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 0.5em;
    grid-row-gap: 0.3em;
    margin-top: 2.5rem;
    text-align: center;
}
.cart{
    display: flex;
    flex-direction: column;
    margin-top: 5rem
}
.description{
     color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 20px;

}
.title{
color: #ffffff; font-family: 'Lato', sans-serif; font-weight: 500; margin: 0 0 40px}

.container {
  position: relative;
  width: 50%;

}

.poster {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .poster {
  opacity: 0.3;
  cursor: pointer;
}

.container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  background: url(/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
}
.like{
  margin-top: 0.5rem;
  padding-top: 0.5rem
}
.details{
  margin-bottom: 1rem
}
.heart{
    color:red;
    background-color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem
}

.loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem
}

@media only screen and (max-width: 600px) {
  .loader{
    height: 60px;
    width: auto;
    margin-top: 10rem
  }
  .cart-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

}